bson
gridfs
pymongo*
*.pyc
*.zip
requests*
certifi*
chardet*
idna*
urllib3*
bleach*
html2*
html5*
six-*
webencodings*
six.py
json2html*
premailer*
beautifulsoup*
bs4*
pynliner*
cssutils*
encutils*
py_expression_eval*
flatdict*